{% extends "base.html"%}
{% load static %}

{% block title%}index file{%endblock%}

{% block css_file%}
<link rel="stylesheet" href={% static "account/signup.css" %}>
{%endblock%}

{%block content%}
<div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form method="POST">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <input type="text" placeholder="Enter first name" required name="first_name">
          </div>
          <div class="input-box">
            <input type="text" placeholder="Enter last name" required name="last_name">
          </div>
          <div class="input-box">
            <input type="email" placeholder="Enter email" required name="email">
          </div>
          <div class="input-box">
            <input type="text" placeholder="Enter username" required name="username">
          </div>
          <div class="input-box">
            <input type="password" placeholder="Enter password" required name="password">
          </div>
          <div class="input-box">
            <input type="password" placeholder="Confirm password" required name="c_password">
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
  <div>
  </div>
  {% for i in messages %}<h3>{{i}}</h3>{% endfor %}
{%endblock%}
   
