<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    {% if user.is_authenticated %}
    <h3>Heelo {{user.first_name}}</h3>
    <button><a href="form/logout">Log out</a></button>
    {% else %}
    <button><a href="form/registration">Register</a></button>
    <button><a href="form/login">Login</a></button>
    {% endif %}

    <br>
    <br>
    <br>
    <body>
       <form method="POST">
       {% csrf_token %}
        <input id="name" name="name" type="text" placeholder="Name">
        <input id="age" name="age" type="number" placeholder ="age"> 
        <button type="submit ">send</button>
       </form>
    </body>
</html>